<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

<!--
		<div class="measure-narrow center mb4">

 			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Новини iнституту за пiдпискою</p>
			<p>Отримуйте вчасно новини пiдписавшись на розсилку</p>

			{{ partial "newsletter-form" . }}

		</div>
-->

		<div class="flex-ns justify-between">

			<div style="width: 300px;">
				<h3 class="f4 b lh-title mb1">Пацiенту</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Онлайн запис на консультацiю</a></li>
					<li><a href="/" class="link">Перелiл послуг</a></li>
					<li><a href="/" class="link">Перелiл экслюзивних послуг</a></li>
					<li><a href="/" class="link">Прайс на платнi послуги</a></li>
					<li><a href="/" class="link">Вiддiлення</a></li>
					<li><a href="/" class="link">Полiклiнiка</a></li>
					<li><a href="/" class="link">Зворотній зв'язок</a></li>
					
				</ul>
			</div>

			<div style="width: 300px;">
				<h3 class="f4 b lh-title mb1">Лiкарю</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Перелiл послуг</a></li>
					<li><a href="/" class="link">Експертнi центри</a></li>
					<li><a href="/" class="link">Як направити пацiента</a></li>
					<li><a href="/" class="link">Перелiк вiддiлень</a></li>
					<li><a href="/" class="link">Платнi послуги</a></li>
					<li><a href="/" class="link">Рекомендацiї</a></li>
					<li><a href="/" class="link">Конференцiї</a></li>
					<li><a href="/" class="link">Зворотній зв'язок</a></li>
					
				</ul>
			</div>
			
			
			
			<div style="width: 300px;">
				<h3 class="f4 b lh-title mb1">Науковцю</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Перелiл наукових пiдроздiлiв</a></li>
					<li><a href="/" class="link">Miжнародне спiвробiтництво</a></li>
					<li><a href="/" class="link">Комісія з питань етики</a></li>
					<li><a href="/" class="link">Спеціалізована вчена рада</a></li>
					<li><a href="/" class="link">Рада молодих вчених</a></li>
					<li><a href="/" class="link">Звернутися з питань наукового <p>спiвробiтництва (Зворотній зв'язок)</p></a></li>

					
				</ul>
			</div>
			
		</div>
		
		
	</div>
		
		
		
		
		
		
		
		
		
		
		
		<div class="mw7 center pt3">	
		
		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1">Навiгацiя</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Керiвництво</a></li>
					<li><a href="/" class="link">Новини</a></li>
					<li><a href="/" class="link">Події</a></li>
					<li><a href="/" class="link">Оголошення</a></li>
					<li><a href="/" class="link">Контакти</a></li>
				</ul>
			</div>

			
			
			
			<div>
				<h3 class="f4 b lh-title mb1">Контакти</h3>
				
				<ul class="mb3">	
					<li>Україна, м. Київ</li>
					<li>вул. Народного ополчення, 5</li> 
					<li>тел.: (044)275-6622</li> 
					<li>факс: (044) 275-4209</li> 
					<li>e-mail:  stragh@bigmir.net</li>
				</ul>
			</div>
			
			
			
			<div>
				<h3 class="f4 b lh-title mb1"></h3>
				
				<ul class="mb3">	
					<li></li>
				</ul>
			</div>

		</div>
		</div>		
		
		
		
		
		
		
		
	</div>

</footer>



<script src="/app.js"></script>

</body>

</html>
