<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none" style="width: 5.5rem">
		<img src="/img/logo.svg" alt="strazhesko logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/" class="pa3 no-underline db">Головна</a></li>
		
		<li><a href="/departments" class="pa3 no-underline db">Керiвництво</a></li>

		<li><a href="/news" class="pa3 no-underline db">Новини</a></li>

		<li><a href="/history" class="pa3 no-underline db">Подiї</a></li>
		
		<li><a href="/history" class="pa3 no-underline db">Оголошення</a></li>

		<li><a href="/contacts" class="pa3 no-underline db">Контакти</a></li>
	</ul>

</nav>
