<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none" style="width: 7rem">
		<img src="/img/logo.svg" alt="strazhesko logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		
		
		<li><a href="/departments" class="pa3 no-underline db">КЕРIВНИЦТВО</a></li>

		<li><a href="/news" class="pa3 no-underline db">НОВИНИ</a></li>

		<li><a href="/history" class="pa3 no-underline db">ПОДII</a></li>
		
		<li><a href="/history" class="pa3 no-underline db">ОГОЛОШЕННЯ</a></li>

		<li><a href="/contacts" class="pa3 no-underline db">КОНТАКТИ</a></li>
	</ul>

</nav>
