{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

<!-- 		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4"> -->

		{{ .Content }}

<!--
		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>
-->

<!-- 		{{ partial "contact-form" . }} -->











<div class="headercoltwoCenter">
	<div class="topContact">
		249-70-17 регістратура <br>
		249-70-26 довідка
	</div>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			АПАРАТ КЕРІВНИЦТВА
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Коваленко Володимир Миколайович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Директор&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-66-11, 275-66-22&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Приймальня директора&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-66-22, факс 275-42-09&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Лутай   Михайло   Іларіонович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			  Заступник директора по науці&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-29&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Корнацький      Василь      Михайлович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Головний лікар, заст.  директора по клінічній роботі&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-76-77, 275-04-44&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Сичов Олег Сергійович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Вчений секретар&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-08&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Гриненко Лариса Петрівна
		</td>
		<td style="padding:5px;" width="33%">
			Заст. директора  з економічних питань&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			537-36-96&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Сідорко Євгеній Романович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Заст. директора по АГЧ&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			246-87-84&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Костиря Ганна Дмитрівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Заст. головного лікаря по  стаціонарній допомозі&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-18&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Беляєва Тетяна Володимирівна
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Заст. головного лікаря по &nbsp;поліклініці&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-34-27
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ  кадрів
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Турівна      Людмила        Миколаївна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Зав. відділом кадрів&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-95-11&nbsp;
		</td>
	</tr>
	</tbody>
	</table>

<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ  контролю виконання і діловодства
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			 Швидка Наталія Павлівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Начальник         
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			501-30-82
		</td>
	</tr>
	</tbody>
	</table>

	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Бухгалтерія
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Лук'янова Людмила Олександрівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Головний бухгалтер&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-23&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Куйбіда Ніна Іванівна
		</td>
		<td style="padding:5px;" width="33%">
			Заступник головного Бухгалтера                Розрахунковий відділ&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-95-77, 275-65-55&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ реанімації та інтенсивної терапії
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Пархоменко     Олександр      Миколайович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-15&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Іркін      Олег      Ігоревич&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший науковий співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-11&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Козловський      Віктор      Іванович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Старший науковий співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-11&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Кушнір     Сергій      Петрович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Завідуючий відділенням  лікар-кардіолог&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-11&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			ординаторська&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-11&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Блок&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-65-44&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ інфаркту міокарда
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Шумаков   Валентин      Олександрович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач        відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-66-00&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Следзевська      Ірина   Казимирівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Головний науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-06&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Бабій   Ліана      Миколаївна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Провідний науковий  співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-88-08
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Малиновська     Ірина      Едмундівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Провідний        науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-08
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Щербак      Ярослав     Юрійович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуючий відділенням&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			 275-86-43&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Артюх      Людмила      Георгіївна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Ст. медсестра&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-86-43&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			ординаторська&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-86-43&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ аритмій серця
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Сичов   Олег Сергійович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-08&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Фролов      Олександр      Іванович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший науковий співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			 249-70-43&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Солов’ян      Ганна      Миколаївна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Старший науковий співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-88-04&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Романова      Олена      Миколаївна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший науковий cпівробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-04&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Гетьман      Таісія      Вячеславівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Науковий співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-43&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Заяць      Марина      Анатоліївна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Завідуюча        відділенням        лікар-кардіолог&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-04&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Шарудило     Надія      Яківна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			ст. медсестра&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-88-04&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			ординаторська&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-04&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ серцевої недостатності
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Воронков      Леонід      Георгійович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-53-87&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Бесага      Євген      Миколайович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший        науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-09&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Паращенюк  Лілія      Павлівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча        відділенням&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-86-77&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			ординаторська&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-86-77&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ інтервенційної кардіології
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Соколов      Юрій  Миколайович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-87-44&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Соколов      Максим  Юрійович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-07&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			 Левчук Неля Петрівна
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча        відділенням&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-16&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Кравченко      Ольга      Павлівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			ст.медсестра&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-16&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ атеросклерозу
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Лутай      Михайло  Іларіонович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-29&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Фуркало      Микола      Кузьмович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Головний науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-35&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Бугаєнко      Веніамін      Вікторович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Ст. науковий        співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-09&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Лисенко      Ганна  Федорівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Ст. науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-06&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Ломаковський      Олександр      Миколайович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Ст. науковий        співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-88-06&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Слободський      Володимир      Анатолійович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Науковий співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			501-30-86&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Моісеєнко      Ольга  Іванівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча        відділенням&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			 501-30-87&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Корх      Людмила      Павлівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			ст.медсестра&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-09&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			ординаторська&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-09&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ дисліпідемій
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Мітченко      Олена      Іванівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-88-10&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Бєляєва      Тетяна      Володимирівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-34-27
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Романов      Вадим      Юрійович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Старший науковий        співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			501-30-87&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Чулаєвська      Ірина      Вацлавівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Завідуюча        відділенням&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-71-03&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Невгад      Лариса      Миколаївна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			ст.медсестра&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-71-03&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ симптоматичних гіпертензій
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Сіренко      Юрій      Миколайович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-41&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Цирульнєва      Неля      Іванівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Завідуюча        відділенням&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-40&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			ординаторська&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-40&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ гіпертонічної хвороби
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Свіщенко      Євгенія      Петрівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-44&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Цирульнєва      Неля      Іванівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Завідуюча        відділенням&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-40&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ клінічної фармакології
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Шевченко      Тамара      Леонідівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Старший науковий        співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-01&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ клінічної фармаколопії
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Кожухов Сергій Миколайович
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач відділу
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-01
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Базика      Ольга      Євгеніївна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			594-00-70
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Тхор Наталія Володимирівна
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Ст. науковий        співробітник,        зав лабораторією&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			531-12-78
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Лосєва Тамара Степанівна&nbsp;<br>
		</td>
		<td style="padding:5px;" width="33%">
			Старша медична сестра&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			 249-70-13
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Ординаторська
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			501-59-62&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ некоронарогенних хвороб серця
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Коваленко      Володимир      Миколайович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач        відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			501-30-85, 249-70-39&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Висоцька      Жанна      Миронівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Провідний        науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			270-39-24&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Борткевич      Олег      Петрович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Провідний        науковий        співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			501-30-84&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Галицька      Анастасія      Костянтинівна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший        науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-88-05&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Проценко      Галина      Олександрівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Старший        науковий        співробітник&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-52-63&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Несукай      Олена      Геннадіївна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старший        науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			501-30-85&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Дмитриченко Олена Володимирівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча        відділенням&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			270-39-24&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Артемчук      Катерина      Тимофіївна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старша        мед.сестра&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-32&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			ординаторська&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-32&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ медико – соціальних проблем
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Корнацький      Василь      Михайлович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач        відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			501-30-89&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			<br>
		</td>
		<td style="padding:5px;" width="33%">
		</td>
		<td style="padding:5px;" width="33%">
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Манойленко      Тетяна      Степанівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Провідний        інженер&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			501-30-89&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Лабораторія  моніторингу  показників
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Дорогой      Анатолій      Петрович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач        лабораторією&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-22&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Організаційно – методичний відділ
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Вавілова Лариса Леонідівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач        відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-03&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			<br>
		</td>
		<td style="padding:5px;" width="33%">
		</td>
		<td style="padding:5px;" width="33%">
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts" style="font-size: 15px;">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ імунології
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" width="33%">
			Гавриленко      Тетяна      Іллівна&nbsp;
		</td>
		<td id="tableContactsTr" width="33%">
			Завідуюча        відділом&nbsp;
		</td>
		<td id="tableContactsTr" width="33%">
			249-70-21&nbsp;
		</td>
	</tr>
	<tr>
		<td width="33%">
			&nbsp;
		</td>
		<td width="33%">
			Старший        науковий        співробітник&nbsp;
		</td>
		<td width="33%">
			249-70-21&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ патофізіології
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Талаєва      Тетяна      Володимирівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча        відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-76-56&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Братусь      Віктор      Васильович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Головний        науковий        співробітник&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-76-56&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<br>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ біохімії
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Мхітарян      Лаура      Сократівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча        відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-95-55&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Ординаторська&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			275-95-55&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Відділ патоморфології
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Гавриш      Олександр      Семенович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач        відділом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-95-00&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts" style="font-size: 15px;">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Консультативна поліклініка
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" width="33%">
			Дорогой Анатолій Петрович&nbsp;
		</td>
		<td id="tableContactsTr" width="33%">
			Завідуючий поліклінікою&nbsp;
		</td>
		<td id="tableContactsTr" width="33%">
			249-70-22&nbsp;
		</td>
	</tr>
	<tr>
		<td width="33%">
			&nbsp;
		</td>
		<td width="33%">
			Реєстратура&nbsp;
		</td>
		<td width="33%">
			249-70-17&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" width="33%">
			Відділ госпіталізації&nbsp;
		</td>
		<td id="tableContactsTr" width="33%">
			275-71-02&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Республіканський науково-методичний
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Романюк Світлана Іванівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Лікар-ревматолог&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-32&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<br>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Централізована клінічно- біохімічна
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Пономарева      Галина      Володимирівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча     лабораторією&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-00&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Клінічна група&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-04&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Серологічна лабораторія
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Грицай      Олена      Миколаївна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча     лабораторією&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-04&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Референтна лабораторія
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Гавриленко      Тетяна      Іллівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча     лабораторією&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-21&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Фізіотерапевтичне відділення
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Заворотня      Раїса      Марківна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча     відділенням&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-28&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Асіна      Лілія      Євгеніївна&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Старша     медсестра&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-28&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Служба лікувальної фізкультури та масажу
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			 Петровська      Наталія      Гордіївна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Лікар ЛФК&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-28&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Кабінет функціональної діагностики
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Давида      Рена      Станіславівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Лікар пульмонолог&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-42-00&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Кабінет комп’ютерної томографії
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Шараєвський      Олег      Анатолійович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач     кабінетом,        лікар        рентгенолог&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-14&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Рентген-кабінет
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Заноздра      Людмила      Володимирівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча        рентген кабінетом&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-28&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Кафедра кардіології та функціональної діагностики
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Бобров      Володимир      Олексійович&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідувач кафедри&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-66-33&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Жарінов      Олег      Йосипович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Професор&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-05&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Давидова      Ірина      Володимирівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Доцент&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			275-67-69&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding:5px;" width="33%">
			Куць      Віктор      Олександрович&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			Доцент&nbsp;
		</td>
		<td style="padding:5px;" width="33%">
			249-70-35&nbsp;
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Лабораторія&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-45&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Приймальне відділення
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Стіл довідок&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-26&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Централізована стерилізаційна та автоклавна
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Аптека
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Больбат      Антоніна      Семенівна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча аптекою&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-37, 249-68-36&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<table id="tableContacts">
	<tbody>
	<tr>
		<td colspan="3" id="tableContactsTdcolspan">
			Інформаційно-статистичний відділ
		</td>
	</tr>
	<tr>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Борисенко Світлана Миколаївна&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			Завідуюча відділом,     лікар-статистик&nbsp;
		</td>
		<td id="tableContactsTr" style="padding:5px;" width="33%">
			249-70-24&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
</div>
















	</div>
</div>

{{ end }}
